/** RESET **/
* {
    box-sizing: border-box;
  }
  
  html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em;
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input {
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type='checkbox'],
  [type='radio'] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  
  /** END RESET **/
  
  /* ====================================================== */ 

/* GLOBAL STYLES */
html {
    font-size: 18px;
    font-family: 'Tahoma';
    letter-spacing: 1px;
}

a:hover {
  color: #d9cdff;
}

h1 {
  font-size: 2.5rem;
  animation: bounceIn 5s infinite 250ms alternate, color-change 1.5s infinite 250ms alternate;
  text-align: center;
  z-index: 1;
}

h1:hover {
  animation-play-state: paused;
}

@keyframes color-change {
  0% { color: #fff; }
  100% { color: #9da0ff;}
}

@keyframes bounceIn {
  0% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.8);
  }
}

h2 {
  color: #9da0ff;
  font-size: 1.8rem;
  text-align: center;
}

h2 a:hover {
  color:#9da0ff;
}

h3 {
  text-align: center;
  color: #9da0ff;
  padding-bottom: 50px;
}


h3 a {
  color: #a296ca;
  text-decoration: none;
  font-size: 1.5rem;
}

/* HEADER & NAV STYLES */

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-bar {
  overflow: hidden;
  background-color: #000;
  position: relative;
  box-shadow: 0px 5px 10px #000;

}

.nav-bar #nav-links {
  display: none;
}

.nav-bar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  transition: all 100ms;
}

.nav-bar .icon {
  position: absolute;
  font-size: 18px;
  color: #FFF;
  right: 0;
  top: 0;
  transition: all 250ms;
}
.nav-bar .icon:hover {
  color: #9da0ff;
  background-color: rgb(255, 255, 255, 0);
  transform: scale(1.1);
  z-index: 7;
}

.nav-bar a:hover {
  background-color: #9da0ff;
  color: black;
  transform: scale(1.1);
  z-index: 8;
}


@keyframes spin {
  0% {
      transform:rotate(0deg);
  }
  50% {
      transform: rotate(90deg);
  }
  100% {
      transform:rotate(180deg);
  }
}

.nav-bar img {
  display: block;
  height: 30px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
  transition: all 600ms;
}

.nav-bar img:hover {
  transform: scale(1.2);
}

.menu {
  display: block;
}

.x-icon {
  display: none;
}


/* MASTER CONTAINER */

.master-container {
    background-color: #4c1c46;
}  

/* ABOUT ME STYLES */

.aboutme-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  background-image: linear-gradient(
    to bottom, transparent, #4c1c46
  ), url("images/purple-galaxy-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  padding-top: 80px; 
  } 

  .intro-col {
   color: #fff;
   grid-column: 2 / 6;
  }

.propic {
  width: 14rem;
  border-radius: 10%;
  border: 4px solid #a296ca;
  box-shadow: 2px 5px 10px #000;
}

.pic-wrapper {
  text-align: center;
}

.title-2 {
   color: #a296ca;
   text-shadow: 2px 2px 0px #4c1c46;
}

  .aboutme-col {
   color: #fff;
   grid-column: 6 / 12;
   align-self: center;
 }

  /* TECHNICAL SKILLS STYLES */

  .skillz-col {
    color: #fff;
    padding: 25px 25px;
  }

  .skillz {
    display: grid;
    grid-template: 1fr 1fr / repeat(6, 1fr);
    grid-gap: 50px;
    text-align: center;
  }

  i { 
    font-size: 4rem;
    text-shadow: 2px 5px 10px #000;
    transition: all 700ms;
  }

  i:hover {
    transform: scale(1.2);
  }

/* PORTFOLIO STYLES */
  .row-title {
      display: block;
      width: 100%;
  }

.portfolio-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 20px;
  color: #fff;
}

.portfolio-grid p {
  padding: 0 25px;
}

.portfolio-container {
  width: 100%;
  text-align: center;
}

.codedanger {
  width: 18rem;
  height: 9rem;
  box-shadow: 2px 5px 10px #000;
  transition: all 1s;
}

.codedanger:hover {
  transform: scale(1.1);
}

/* CONTACT STYLES */

.contact {
    display: flex;
    flex-direction: row;
    background-color: #1d161e;
    background-image: linear-gradient(
      to top, transparent, #4c1c46
    ), linear-gradient(
      to bottom, transparent, #000
    ), url("images/galaxyblue.jpg");
    background-size: cover;
    padding: 100px 0;
    justify-content: space-evenly;
}

.contactimg {
  height: 5rem;
  width: auto;
  padding: 0;
}

.overlay {
  background-color: #a296ca;
  border-radius: 5rem;
  height: 5rem;
  transition: all 750ms;
}

.overlay:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 800px) {

  .aboutme-grid {
    display: flex;
    flex-direction: column;
  }
  .aboutme-grid p {
    padding: 0 25px;
  }

  .portfolio-grid {
    grid-template: 1fr / 1fr;
  }

  .skillz {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (max-width: 550px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .overlay {
    margin: 25px 0 ;
  }

}

@media screen and (max-width: 400px) {
  html {
      min-width: 400px;
  }

}